.todos-container {
    padding: 10px;
    height: calc(100vh - 84px);
    display: flex;
    gap: 10px;

    .list-container {
        width: 25%;
    }

    .todo-container {
        width: 75%;
    }

    .add_todo_btn {
        position: fixed;
        bottom: 30px;
        right: 30px;
    }
}