<!-- <div class="todos-container">
    <div class="list-container">
        <app-todo-list [todos]="todos"></app-todo-list>
    </div>
    <div class="todo-container">
        <app-todo [todo]="todo"></app-todo>
    </div>
    <button (click)="openDialog()" class="add_todo_btn" mat-fab color="primary">
        <mat-icon>add</mat-icon></button>
</div> -->
<div class="todos-container">
    <div class="list-container">
      <app-todo-list [todos]="todos"></app-todo-list>
    </div>
    <div class="todo-container">
      <app-todo [todo]="todo"></app-todo>
    </div>
    <button (click)="openDialog()" class="add_todo_btn" mat-fab color="primary">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  